* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Roboto", sans-serif; */
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* Header  */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 10%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  z-index: 999;
}

.logo {
  max-width: 120px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  color: #2c2c2c;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-menu a:hover {
  color: #e31616;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-icons i:hover {
  transform: scale(1.1);
  color: #e31616;
}

.cart-quantity {
  align-items: center;
  background: red;
  color: white;
  padding: 2px 5px 2px 5px;
  border-radius: 50px;
  position: absolute;
  font-size: 10px;
  top: -10px;
  right: 15px;
}

#menu-icon {
  font-size: 25px;
  color: #2c2c2c;
  cursor: pointer;
}

/* Section */
section {
  padding: 5% 10%;
  position: relative;

  z-index: 1;
  margin-top: 80px;
}

.main-home {
  height: 110vh;

  background-color: #5a595916;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  z-index: 1;

  margin-bottom: 20px;
}

.order-summary h2 {
  margin-bottom: 40px;
}

.price-sub-total,
.delivery-fee,
.price-total {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.item-description {
  width: 400px;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;

  border: 1px solid;
}

.left-part img {
  width: 80px;
  height: 100px;
}

.right-part p {
  font-size: 15px;
  margin-top: 5px;
  color: #7d7979;
}

.product-name {
  font-size: 15px !important;
  color: rgb(31, 30, 30) !important;
}

.quantity-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.delete-quantity-link {
  text-decoration: underline;
  cursor: pointer;
}
/* trending collections section */

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  column-gap: 2rem;
  row-gap: 40px;
}

.img-thumbnail {
  position: relative;
  transition: all 0.4s;
}

.img-thumbnail img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
  margin-bottom: 10px;
}

.img-thumbnail img:hover {
  transform: scale(0.93);
  cursor: pointer;
}

/* contact section */
.contact {
  background-color: #f3f4f6;
}

.logo-1 {
  max-width: 120px;
  height: 50px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}

.contact-info h5 {
  font-size: 13px;
  margin-bottom: 10px;
}

.contact-info p {
  color: #707070;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
  transition: all 0.42s;
}

.contact-info p:hover {
  cursor: pointer;
  color: #c43f3f;
}

.social-icons i {
  color: #5a5959;
  margin-right: 10px;

  transition: all 0.42s;
}

.social-icons i:hover {
  transform: scale(1.3);
}

/* footer section */
.end {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.end p {
  color: #0a0a0a;
  font-size: 12px;
}

/* Responsive-CSS */
@media (max-width: 890px) {
  header {
    padding: 20px 3%;
    transition: 0.4s;
  }
}

@media (max-width: 630px) {
  .main-outline h5 {
    color: orangered;
  }

  .main-outline h1 {
    color: rgb(243, 160, 78);
    font-size: 50px;
    transition: 0.4s;
  }

  .main-outline p {
    color: rgb(250, 114, 64);
  }

  .navg i {
    color: rgb(250, 114, 64);
    border: 2px solid rgb(250, 114, 64);
  }
  .navg i:hover {
    background-color: rgb(250, 114, 64);
    color: whitesmoke;
  }
}

@media (max-width: 750px) {
  .nav-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: rgba(146, 145, 145, 0.669);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all 0.42s;
  }

  .nav-menu a {
    display: block;
    margin: 18px 0;
  }

  .nav-menu.open {
    right: 0;
  }
}
